.sm-card {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  background-color: #f8f9fa;
  height: 7rem;
  box-sizing: border-box;
  align-items: center;
}

.sm-card .thumbnail {
  background-size: cover;
  background-position: center;
  width: 30%;
  aspect-ratio: 1 / 1;
  height: 100%;
}

.sm-card .contents {
  width: 70%;
  padding: 0.2rem 20px;
  box-sizing: border-box;
}

.sm-card .contents h2 {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  font-family: "Cabin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sm-card .contents h2 a {
  display: block;
  height: 100%;
  color: #000;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
