<footer class="site-section bg-light">
  <div class="container footer-container">
    <div class="col-6">
      <h2>Newsletter Subcribe</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
        aspernatur ut at quae omnis pariatur obcaecati possimus nisi ea iste!
      </p>
    </div>
    <div class="col-6">
      <h2>Newsletter Subcribe</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
        aspernatur ut at quae omnis pariatur obcaecati possimus nisi ea iste!
      </p>
    </div>
  </div>
</footer>
