<div class="md-horizantal-card">
  <div class="md-h-card-container">
    <div
      class="thumbnail"
      [ngStyle]="{
        'background-image':
          'url(' +
          (article?.urlToImage || '../../assets/images/img_v_2.jpg.webp') +
          ')'
      }"
    ></div>

    <div class="md-h-card-text-area">
      <h2>
        <a [routerLink]="['/single-blog-page']" [state]="{ article: article }">
          {{ article?.title }}
        </a>
      </h2>
      <p>
        {{ article?.content }}Article Content Couldnt Found. Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium
        neque, voluptatum quam quibusdam.
      </p>
      <app-post-meta
        [author]="author"
        [publishedDate]="publishedDate"
        [newsUrl]="newsUrl"
      ></app-post-meta>
    </div>
  </div>
</div>
