<div class="md-horizantal-card">
  <div class="md-h-card-container">
    <div
      class="thumbnail"
      style="background-image: url(../../../assets/images/img_v_2.jpg.webp)"
    ></div>
    <div class="md-h-card-text-area">
      <h2>
        <a href="blog-single.html"
          >News Needs to Meet Its Audiences Where They Are</a
        >
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
        temporibus praesentium neque, voluptatum quam quibusdam.
      </p>
      <app-post-meta></app-post-meta>
    </div>
  </div>
</div>
