<div id="sticky-wrapper" class="sticky-wrapper" style="height: 54.75px">
  <div class="container">
    <nav class="navbar" role="navigation">
      <ul class="navbar-items">
        <li class="item">
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="item">
          <a [routerLink]="['/categories']">Categories</a>
        </li>
        <li class="item" *ngFor="let category of categoriesList">
          <a
            [routerLink]="['/categories']"
            [queryParams]="{ category: category }"
          >
            {{ category | titlecase }}
          </a>
        </li>
        <li class="item">
          <a [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
