.site-section {
  padding: 5em 0;
}

.section-title {
  width: 100%;
  color: #000;
  margin: 0 0 50px 0;
}

.section-title h2 {
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #222;
  position: relative;
  display: inline-block;
  margin: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1000px) {
  .container {
    max-width: 960px;
  }
}

.row1,
.row2 {
  display: flex;
  flex-wrap: wrap;
}

.col-3 {
  flex: 0 0 23%;
  max-width: 23%;
  padding: 0 1%;
}

.col-4 {
  flex: 0 0 30%;
  max-width: 30%;
  padding: 0 1.4%;
}

.col-6,
.col-lg-6 {
  flex: 0 0 48%;
  max-width: 48%;
  padding: 0 1%;
}

.col-8 {
  flex: 0 0 64%;
  max-width: 64%;
  padding: 0 1%;
}

.col-9 {
  flex: 0 0 73%;
  max-width: 73%;
  padding: 0 1%;
}

.col-10 {
  flex: 0 0 98%;
  max-width: 98%;
  padding: 0 1%;
}

.side-bar-a {
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.83rem;
}

.side-bar-a a {
  text-decoration: none;
  color: #8bc34a;
}

.side-bar-a a:hover {
  color: #649130;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0;
  }

  .row1 {
    align-items: center;
    justify-content: center;
  }

  .col-3,
  .col-4,
  .col-lg-6,
  .col-10,
  .col-9,
  .col-8 {
    flex: 0 0 80%;
    max-width: 80%;
    padding: 0 1%;
  }
}
@media screen and (max-width: 768px) {
  .row2 {
    align-items: center;
    justify-content: center;
  }

  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1%;
  }
}
