/*  pagination stilleris */

.pagination ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  max-width: 100%;
  height: auto;
}

.pagination ul li button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.pagination ul li button:hover {
  color: black;
}

.pagination ul li button.active {
  color: black;
}
