<section class="site-section">
  <div class="container">
    <div class="row1">
      <div class="col-8">
        <div class="row2">
          <div class="section-title">
            <h2>Editor's Pick</h2>
          </div>
          <article class="col-6">
            <app-md-v-card
              *ngIf="editorsPickArticles.length > 0"
              [article]="editorsPickArticles[0]"
            ></app-md-v-card>
          </article>
          <article class="col-6">
            <app-sm-card
              *ngFor="
                let article of editorsPickArticles.slice(1, 4);
                let i = index
              "
              [article]="article"
            ></app-sm-card>
          </article>
        </div>
      </div>
      <aside class="col-4">
        <div class="section-title">
          <h2>Trending</h2>
        </div>
        <app-side-card
          *ngFor="let article of sidebarArticles; let i = index"
          [article]="article"
          [listNumber]="i + 1"
        ></app-side-card>
        <p class="side-bar-a">
          <a href="#" class="more">See All Trends <span> =></span></a>
        </p>
      </aside>
    </div>
  </div>
</section>
