<div class="md-vertical-card">
  <div class="md-v-card-container">
    <a href="post-single.html"
      ><img
        src="../../../assets/images/img_h_1.jpg.webp"
        alt="Image"
        class="img-fluid"
    /></a>
    <h2>
      <a href="blog-single.html"
        >News Needs to Meet Its Audiences Where They Are</a
      >
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
      temporibus praesentium neque, voluptatum quam quibusdam.
    </p>
    <app-post-meta></app-post-meta>
  </div>
</div>
