<section class="site-section">
  <div class="container categories">
    <div class="row1">
      <div class="col-9">
        <div class="section-title category-title">
          <span class="caption d-block small">Categories</span>
          <h2>{{ capitalizeFirstLetter(category) }}</h2>
        </div>
        <app-lg-card></app-lg-card>
        <app-lg-card></app-lg-card>
        <app-lg-card></app-lg-card>
        <app-lg-card></app-lg-card>
        <app-lg-card></app-lg-card>
        <app-lg-card></app-lg-card>
        <app-lg-card></app-lg-card>
        <app-lg-card></app-lg-card>
        <app-lg-card></app-lg-card>
        <app-lg-card></app-lg-card>
        <app-lg-card></app-lg-card>
      </div>
      <aside class="col-3">
        <div class="section-title">
          <h2>Popular Posts</h2>
        </div>
        <app-side-card></app-side-card>
        <app-side-card></app-side-card>
        <app-side-card></app-side-card>
        <app-side-card></app-side-card>
        <p class="side-bar-a">
          <a href="#" class="more">See All Popular Posts <span> =></span></a>
        </p>
      </aside>
    </div>
  </div>
</section>
