<div class="dl-card">
  <div class="dl-card-container">
    <div
      class="dl-card-img-bg"
      [ngStyle]="{
        'background-image':
          'url(' +
          (article?.urlToImage || '../../assets/images/big_img_1.jpg.webp') +
          ')'
      }"
    ></div>
    <div class="dl-card-contents">
      <span class="dl-card-caption">Editor's Pick {{ listNumber }}</span>
      <h2>
        <a href="blog-single.html">{{ article?.title }}</a>
      </h2>
      <p class="dl-card-text-area">
        {{
          article?.description ||
            "No description available. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
        temporibus praesentium neque, voluptatum quam quibusdam."
        }}
      </p>
      <app-post-meta
        [author]="author"
        [publishedDate]="publishedDate"
        [newsUrl]="newsUrl"
      ></app-post-meta>
    </div>
  </div>
</div>
