<div class="dl-card">
  <div class="dl-card-container">
    <div class="dl-card-img-bg"></div>
    <div class="dl-card-contents">
      <span class="dl-card-caption">Editor's Pick1</span>
      <h2>
        <a href="blog-single.html"
          >News Needs to Meet Its Audiences Where They Are</a
        >
      </h2>
      <p class="dl-card-text-area">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vero
        obcaecati natus adipisci necessitatibus eius, enim vel sit ad
        reiciendis. Enim praesentium magni delectus cum, tempore deserunt
        aliquid quaerat culpa nemo veritatis, iste adipisci excepturi
        consectetur doloribus aliquam accusantium beatae?
      </p>
      <app-post-meta></app-post-meta>
    </div>
  </div>
</div>
