<div class="slider-section">
  <app-navigation-buttons (slideEvent)="slide($event)"></app-navigation-buttons>
  <div class="slider-container">
    <!-- Loading State -->
    <div *ngIf="!sliderArticles.length && !error" class="loading">
      <p>Loading...</p>
    </div>

    <!-- Error State -->
    <div *ngIf="error" class="error">
      <p>Unable to load articles. Please try again later.</p>
    </div>

    <!-- Articles List -->
    <div class="slides" *ngIf="sliderArticles.length && !error">
      <app-dl-card
        *ngFor="let article of sliderArticles; let i = index"
        [article]="article"
        [listNumber]="i + 1"
        class="slide"
      ></app-dl-card>
    </div>
  </div>
  <app-navigation-radios
    (slideToEvent)="goToSlide($event)"
  ></app-navigation-radios>
</div>
