<div class="lg-horizantal-card">
  <div class="lg-h-card-container">
    <div class="lg-h-card-text-area">
      <h2>
        <a href="blog-single.html"
          >News Needs to Meet Its Audiences Where They Are</a
        >
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
        temporibus praesentium neque, voluptatum quam quibusdam.
      </p>
      <app-post-meta></app-post-meta>
    </div>
    <div
      class="thumbnail"
      style="background-image: url(../../../../assets/images/img_h_4.jpg.webp)"
    ></div>
  </div>
</div>
