<app-header></app-header>
<div class="site-section">
  <div class="container">
    <div class="row1">
      <div class="col-8 single-content">
        <img
          [src]="
            article?.urlToImage || '../../assets/images/big_img_1.jpg.webp'
          "
          alt="Image"
          class="img-fluid"
        />
        <h1>{{ article?.title }}</h1>
        <div class="details">
          <div class="bio-pic mr-3">
            <img
              [src]="
                article?.urlToImage || '../../assets/images/person_1.jpg.webp'
              "
              alt="Image"
              class="img-fluidid"
            />
          </div>
          <app-post-meta
            [author]="author"
            [publishedDate]="publishedDate"
          ></app-post-meta>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
          officia neque beatae at inventore excepturi numquam sint commodi
          alias, quam consequuntur corporis ex, distinctio eaque sapiente
          pariatur iure ad necessitatibus in quod obcaecati natus consequatur.
          Sed dicta maiores, eos culpa.
        </p>
        <p>
          Nulla nesciunt eligendi ratione, atque, hic, ullam suscipit quos enim
          vitae fugiat ducimus, dolore delectus iste id culpa. Ducimus, iste
          magnam sed reprehenderit architecto perferendis odio voluptas
          molestiae quidem ab numquam debitis, dolorem incidunt, tempore a quod
          qui nobis. Voluptates!
        </p>
        <p>
          Suscipit, officiis, vero! Perferendis accusamus quos voluptatum culpa,
          provident maiores! Illo itaque ullam fugit molestiae, eaque accusamus
          impedit autem numquam. Placeat molestias tempore eaque ipsam vel
          voluptatum velit enim quam iusto maxime delectus, sint sapiente ea,
          quo excepturi nisi! Quia.
        </p>
        <p>
          Dolores debitis excepturi maxime earum sapiente totam, quos dolore
          inventore tempore illum. Dolores explicabo sed amet aut atque, facere
          aliquid repudiandae quod possimus quo hic similique et voluptates
          fugit iure dolore quam ipsa numquam assumenda corporis? Dignissimos
          expedita fugit sapiente.
        </p>
        <p>
          Cupiditate ut, aspernatur labore obcaecati, eveniet aut velit nulla
          facere suscipit est recusandae vel error itaque earum doloremque hic
          necessitatibus dignissimos dolores libero laudantium ducimus! Rem
          dolorem ratione officia et, fugit non, fuga suscipit eos veritatis
          enim perspiciatis, magni sit!
        </p>
        <div class="pt-5">
          <p>
            Categories: <a href="#">Design</a>, <a href="#">Events</a> Tags:
            <a href="#">#html</a>, <a href="#">#trends</a>
          </p>
        </div>
      </div>
      <aside class="col-3">
        <div class="section-title">
          <h2>Popular</h2>
        </div>
        <app-side-card
          *ngFor="let article of sidebarArticles; let i = index"
          [article]="article"
          [listNumber]="i + 1"
          (click)="navigateToArticle(article)"
        ></app-side-card>
        <p class="side-bar-a">
          <a href="#" class="more">See All Trends <span> =></span></a>
        </p>
      </aside>
    </div>
  </div>
</div>
<footer></footer>
