.md-vertical-card {
  width: 100%;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.md-card-container img {
  margin-bottom: 30px;
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.md-card-container > h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: black;
  margin-top: 0;
}

.md-card-container > h2 a {
  color: black;
  text-decoration: none;
}

.sm-card {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  background-color: #f8f9fa;
  height: 7rem;
}

.sm-card .thumbnail {
  background-size: cover;
  background-position: center;
  width: 30%;
  aspect-ratio: 1;
}

.sm-card .contents {
  width: 70%;
  padding: 0.2rem 20px;
}

.sm-card .contents h2 {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  font-family: "Cabin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.sm-card .contents h2 a {
  color: #000;
  text-decoration: none;
}

.side-card {
  margin-bottom: 30px;
  display: flex;
}

.side-card .list-number {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  font-size: 30px;
  line-height: 1;
  color: #ccc;
  font-weight: 600;
}

.side-card h2 {
  font-size: 18px;
  margin: -5px 0 0 0;
  font-family: "Cabin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  padding: 0;
}

.side-card h2 a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

.side-bar-a {
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.83rem;
}

.side-bar-a a {
  text-decoration: none;
  color: #8bc34a;
}

.side-bar-a a:hover {
  color: #649130;
}
